.cell {
    -fx-border-color: #999;
    -fx-border-style: solid;
    -fx-border-width: 1;
}
.right-end-cell {
    -fx-border-color: #999 #666 #999 #999;
    -fx-border-style: solid;
    -fx-border-width: 1 2 1 1;
}

.bottom-end-cell {
    -fx-border-color: #999 #999 #666 #999;
    -fx-border-style: solid;
    -fx-border-width: 1 1 2 1;
}

.right-bottom-end-cell {
    -fx-border-color: #999 #666 #666 #999;
    -fx-border-style: solid;
    -fx-border-width: 1 2 2 1;
}

.label {
    -fx-font-size: 20px;
}

.label-new {
    -fx-font-weight: bold;
    -fx-text-fill: green;
}